# array programming basics
numpy
einops
# jax itself
jax
# jax helper libraries
jaxtyping
jax-tqdm
pcax
# helper libraries
pillow
tqdm
tyro
# matthew's plotting library (alpha)
git+https://github.com/matomatical/matthewplotlib.git@v0.3.4
